---
title: Big On Development
description: "Growing, learning, advancing"
layout: main
---


<video playsinline autoplay muted loop id="bgvid">
  <source src="images/bg.mp4" type="video/mp4">
</video>

<!-- Wrapper -->
<div id="wrapper">

    <!-- Header -->
    <header id="header">
        <div class="content">
            <div class="inner">
                <h1 style="color: #F5FFFA;">Big <span style="color: #f1c232;">O(N)</span> Development</h1>
                <p>A fully responsive site template designed by <a href="https://html5up.net">HTML5 UP</a> and released<br />
                for free under the <a href="https://html5up.net/license">Creative Commons</a> license.</p>
            </div>
        </div>
        <nav>
            <ul>
                <li><a href="#about">About</a></li>
                <li><a href="#contact">Contact</a></li>
            </ul>
        </nav>
    </header>

    <!-- Main -->
    <div id="main">

        <!-- About -->
        <article id="about">
            <h2 class="major">About</h2>
            <p>Lorem ipsum dolor sit amet, consectetur et adipiscing elit. Praesent eleifend dignissim arcu, at eleifend sapien imperdiet ac. Aliquam erat volutpat. Praesent urna nisi, fringila lorem et vehicula lacinia quam. Integer sollicitudin mauris nec lorem luctus ultrices. Aliquam libero et malesuada fames ac ante ipsum primis in faucibus. Cras viverra ligula sit amet ex mollis mattis lorem ipsum dolor sit amet.</p>
        </article>

        <!-- Contact -->
        <article id="contact">
            <h2 class="major">Contact</h2>
            <span style="color: #F5FFFA;">"Big <span style="color: #f1c232;">O(n)</span> Dev"</span> is an initiative by Julius Uy and <a href="https://weiyuan-lane.github.io/">Weiyuan Liu</a>.<br/><br/>

            <div style="margin-bottom: 1rem;">
                Contact them directly from their profiles:
            </div>
            <div>
                <a href="https://www.linkedin.com/in/uyjulius/" class="icon button brands fa-linkedin"><span class="label"></span>&nbsp;&nbsp;Julius Uy</a>&nbsp;
                <a href="https://www.linkedin.com/in/liuweiyuan/" class="icon button brands fa-linkedin"><span class="label"></span>&nbsp;&nbsp;Weiyuan Liu</a>
            </div>
        </article>

    </div>

    <!-- Footer -->
    <footer id="footer">
        <ul class="icons">
            <li><a href="https://www.linkedin.com/company/big-on-development" target="__blank" class="icon brands fa-linkedin"><span class="label">Linkedin</span></a></li>
            <li><a href="https://www.facebook.com/Big-On-Development-540802383513964/" target="__blank" class="icon brands fa-facebook-f"><span class="label">Facebook</span></a></li>
        </ul>
        <p class="copyright">&copy; <span style="color: #F5FFFA;">Big <span style="color: #f1c232;">O(n)</span> Dev</span>. Design: <a href="https://html5up.net">HTML5 UP</a></p>
    </footer>

</div>
